html {
    background-color: gray;
}
p {
    margin: .1em;
}
hr {
    margin: 0;
}
.App {
    background-color: white;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.App > * {
    margin: 2em;
    margin-bottom: 0;
}
.Name {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.SkillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "skill name none"
        "skill name none"
        "skill name none";
}

.SkillsFlex {
    grid-area: skill;
    display:flex;
    flex-direction: column;
    font-weight: bold;
}

.Names {
    grid-area: name;
}

.Footer > p {
    text-align: center;
}
